<div id="features">
  <div class="container">
    <!-- Our Mission -->
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="mission text-center">
          <div class="mission-title">Our mission</div>
          <!-- Description -->
          <div class="mission-desc">
            <strong>helloradius</strong> is a social media agency focused on Instagram.
            Our goal is to increase significantly your traffic and your engagement. Saving you time is also one of our biggest concern, we want you to just focus on taking care of your community while we’re doing the rest!
            <br> We are here to help you through your journey on Instagram.
          </div>
        </div>
      </div>
    </div>

    <!-- Features -->
    <div class="row">

      <!-- Feature Growth Management -->
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
        <div class="card-feature">
          <%= image_tag("feature1.png", class: "feature-icon icon-1") %>
          <div class="feature-content">
            <div class="feature-title">Growth management</div>
            <div class="feature-desc">
              Our core strength is the growth. We’ve team up with the
              best growth hackers we know to provide you the best
              services. Get results within a week and start engage with
              all those new potential customers.
            </div>
            <a href="#pricing" class="feature-cta">Get started...</a>
          </div>
        </div>
      </div>

      <!-- Feature Hashtag research -->
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
        <div class="card-feature">
          <%= image_tag("feature2.png", class: "feature-icon icon-2") %>
          <div class="feature-content">
            <div class="feature-title">Hashtags research</div>
            <div class="feature-desc">
              A good hashtag search is a game changer when you want
              to reach more people everyday. Let us do that for you.
              Engage with the right people at the right moment will turn
              your basic account into a pro one!
            </div>
            <a href="#pricing" class="feature-cta">Get started...</a>
          </div>
        </div>
      </div>

      <!-- Feature Digital Strategy -->
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
        <div class="card-feature">
          <%= image_tag("feature3.png", class: "feature-icon icon-3") %>
          <div class="feature-content">
            <div class="feature-title">Digital Strategy</div>
            <div class="feature-desc">
              Set up awesome strategies with us to win the market on
              Instagram. Be noticed by targeted customers by engaging
              with them and creating the best experience for them
              on your Instagram profile.
            </div>
            <a href="#pricing" class="feature-cta">Get started...</a>
          </div>
        </div>
      </div>

      <!-- Feature We post for you -->
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
        <div class="card-feature">
          <%= image_tag("feature4.png", class: "feature-icon icon-4") %>
          <div class="feature-content">
            <div class="feature-title">We post for you </div>
            <div class="feature-desc">
              In order to save you time, we post for you. Our team analyse
              the best time to reach your community and engage with
              them. By doing this it help you to keep focus on what matter
              most, your content and your customers.
            </div>
            <a href="#pricing" class="feature-cta">Get started...</a>
          </div>
        </div>
      </div>

      <!-- Feature Design Coaching -->
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
        <div class="card-feature">
          <%= image_tag("feature5.png", class: "feature-icon icon-5") %>
          <div class="feature-content">
            <div class="feature-title">Design Solution</div>
            <div class="feature-desc">
              With a great eye of design, our UX-UI team is here to
              give the best advices to match the trends on Instagram
              in term of content. From stories to posts be the best
              in your domain.
            </div>
            <a href="#pricing" class="feature-cta">Get started...</a>
          </div>
        </div>
      </div>

      <!-- Feature Support and Reports -->
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
        <div class="card-feature">
          <%= image_tag("feature6.png", class: "feature-icon icon-6") %>
          <div class="feature-content">
            <div class="feature-title">Support and reports</div>
            <div class="feature-desc">
              Depends on your plan, receive reports that show you where
              and when things happened on your account. Giving you
              the best support we can is one of our concern, at anytime.
              Let’s grow together!
            </div>
            <a href="#pricing" class="feature-cta">Get started...</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
